.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;  width:100%;
  background-color: #eee;
}
#nav{
  background-color: #282c34;
}

input[type=text] {
  float: right;
  padding: 6px;
  border: solid ;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}